*{
    box-sizing: border-box;
    align-items:center;
}

/* adding paddings stop a container*/

.container{
    padding: 16px;
}

/*full width*/

input[type=text], input[type=password]{
    width: 90%;
    padding: 15px;
    margin: 
}
